<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json,lcov</Format>
          <Include>[VoxFox]*</Include>
          <Exclude>
            [xunit.*]*,
            [*.Tests]*,
            [*.Test]*,
            [Microsoft.*]*,
            [System.*]*,
            [VoxFox]*Migrations*,
            [VoxFox]*Models.Entities*,
            [VoxFox]*Models.DTOs*,
            [VoxFox]*Models.Requests*,
            [VoxFox]*Models.Responses*,
            [VoxFox]*Infrastructure*,
            [VoxFox]VoxFox.Program
          </Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
